{
    "version" : "2017-02-28",
    "operation" : "PutItem",
    "key" : {
        "orderId" : $util.dynamodb.toDynamoDBJson($util.autoId())
    },
    "attributeValues" : {
        "emailAddress" : $util.dynamodb.toDynamoDBJson($context.arguments.emailAddress),
        "name" : $util.dynamodb.toDynamoDBJson($context.arguments.name)
    }
}